body{
    /**약간 회색-검적색 폰트가 세련되 보인다*/
    color: #333;
    /*글자 16픽셀, 두께 100~900, 줄높이 1.4배*/
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

/*이미지는 글자가 아니라 상자로 처리하겠다 --> 글자로 처리하면 이미지 밑에 작은 여백이 들어감*/
img{
	display: block;
}

a{
		/*a 태그 밑줄 지우기*/
		text-decoration: none;
}
.inner{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.btn{
	width: 130px;
	padding: 10px;
	border: 2px solid #333;
	color: #333;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	transition: .4s;
}
.btn:hover{
	background-color: #333;
	color: #fff;
}
/* 버튼 부분의 상태가 reverse일 때 */
.btn.btn--reverse{
	background-color: #333;
	color: #fff;
}
.btn.btn--reverse:hover{
	background-color: transparent;
	color: #333;
}

.btn.btn--brown{
	border-color: #592B18;
	color: #592B18;
}
.btn.btn--brown:hover{
	background-color: #592B18;
	color: #fff;
}

.btn.btn--gold{
	border-color: #d9aa8a;
	color: #d9aa8a;
}
.btn.btn--gold:hover{
	background-color: #d9aa8a;
	color: #fff;
}

.btn.btn--white{
	border-color: #fff;
	color: #fff;
}
.btn.btn--white:hover{
	background-color: #fff;
	color: #333;
}
.back-to-position{
	opacity: 0;
	transition: 1s;
}
/* 오 -> 왼 애니메 */
.back-to-position.to-right {
	transform: translateX(-150px);
}
/* 왼 -> 오 애니메 */
.back-to-position.to-left {
	transform: translateX(150px);
}
.show .back-to-position{
	opacity: 1;
	transform: translateX(0);
}
.show .back-to-position.delay-0{
	/* 몇초 뒤에 실행 */
	transition-delay: 0s;
}
.show .back-to-position.delay-1{
	transition-delay: .3s;
}
.show .back-to-position.delay-2{
	transition-delay: .6s;
}
.show .back-to-position.delay-3{
	transition-delay: .9s;
}

/* header */
header{
	 /*  fixed를 넣어서 위치상 부모로서 역할 할 수 있기 떄문에 삭제 position: relative; */
   background-color: #f6f5f0; 
	 border-bottom: 1px solid #c8c8c8;
	 /*뷰포트를 기준으로 배치를 하겠다. 가로넓이를 최소한으로 사용하려고 한다 => width: 100%로 설정해서 가로넓이를 최대한 사용하도록 수정한다*/
	 position: fixed;
	 top: 0;
	 width: 100%;
	 z-index: 9;
}
/*자식선택자 사용 header 자식 요소인 inner 부분만 높이가지도록 설정*/
header > .inner{

		height: 120px;
	/*가로사이즈와 마진 좌우를 auto(브라우저가 자동으로 계산)로 설정해서 가운데 정렬한다*/
		/*마진(외부여백) 위아래 : 0 좌우 : auto
		margin: 0 auto;
    width: 1100px;
		position: relative;*/
}

header .logo{
	position: absolute;

	/*요소의 높이값 + 맨위 0 맨 아래 0에서 요소 까지의 값 = 가운데 정렬*/
	height: 75px;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;

}
header .sub-menu{
	/*메뉴요소 옆에 아이콘 위치시키기*/
	display: flex;
	position: absolute;
	top: 10px;
	right: 0;
}
header .sub-menu ul.menu{
	font-family: Arial, sans-serif;
	/*요소 수평 정렬*/
	display: flex;
}
header .sub-menu ul.menu li{
	position: relative;
}
/*구분선 추가 가상요소 선택자 ::before = 요소 앞쪽에 추가*/
header .sub-menu ul.menu li::before{
	content: '';
	display: block;
	width: 1px;
	height: 12px;
	background-color: #e5e5e5;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;

}
/*가상 클래스 선택자를 지워줌 => sign 왼쪽에 검정색 수직선 필요없으니까 지움*/
header .sub-menu ul.menu li:first-child::before{
	display: none;
}
header .sub-menu ul.menu li a{
	font-size: 12px;
	/*a 영역을 조금 옆을 선택했는데 페이지가 이동하지 않을 수 있다 -> 링크 영역 만들때는 사용자를 위한 ui를 신경써야함
		
	*/
	padding: 11px 16px;
	/*a 태그를 블록 요소로 만들어 내부여백을 명확하게 가질 수 있다*/
	display: block;
	color: #656565;
}
header .sub-menu ul.menu li a:hover{
	color: #000;
}
header .sub-menu .search {
	height: 34px;
	position: relative;
}
header .sub-menu .search input{
	width: 36px;
	height: 34px;
	padding: 4px 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	/*모서리 깍기*/
	border-radius: 5px;
	/*input주변에 outline속성 지우기*/
	outline: none;
	background-color: #fff;
	color: #777;
	/*전환효과*/
	font-size: 12px;
	transition: width .4s;
}
header .sub-menu .search input:focus{
	width: 190px;

}
header .sub-menu .search .material-icons{
	/*material icon의 폰트크기*/
	height: 24px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	margin: auto;
	transition: .4s;
}
/*search에 focus가 된상태면 icon 감추기*/
header .sub-menu .search.focused .material-icons{
	opacity: 0;
}

header .main-menu{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	display: flex;
}
header .main-menu .item{

}
header .main-menu .item .item__name{
	padding: 10px 20px 34px 20px;
	font-family: Arial, sans-serif;
	font-size: 13px;
}
/*item자체에 hover를 부여해야함 name 아님*/
header .main-menu .item:hover .item__name{
	background-color: #2c2a29;
	color: #669900;
	border-radius: 6px 6px 0 0;
}
/*top이나 bottom값을 사용하지 않아 수직 값이 없다면 요소의 원래 위치를 그대로 사용한다
	만약 position: absolute를 사용했다면 위치상 부모 요소를 기준으로 하므로 화면이 뷰포트 좌우 끝까지 늘어날 수 없게 된다
*/
header .main-menu .item .item__contents{
	width: 100%;
	position: fixed;
	left: 0;
	display: none;
}
header .main-menu .item:hover .item__contents{
	display: block;
}
header .main-menu .item .item__contents .contents__menu{
	background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul{
	display: flex;
	padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li{
	width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4{
	padding: 3px 0 12px 0;
	font-size: 14px;
	color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li{
	padding: 5px 0;
	font-size: 12px;
	color: #999;
	cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
	color: #669900;
}
header .main-menu .item .item__contents .contents__texture{
	padding: 26px 0;
	font-size: 12px;
	background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4{
	color: #999;
	font-weight: 700;

}
header .main-menu .item .item__contents .contents__texture p{
	color: #669900;
	margin: 4px 0 14px;
	
}
header .badges{
	position: absolute;
	top: 132px;
	right: 12px;
}
header .badges .badge{
	border-radius: 10px;
	/*넘어간 부분 숨키기*/
	overflow: hidden;
	margin-bottom: 12px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
	cursor: pointer;
}

/*footer*/

footer{
	background-color: #272727;
	border-top: 1px solid #333;
}
footer .inner{
	padding: 40px 0 60px 0;
}
footer .menu{
	display: flex;
	justify-content: center;
}
footer .menu li{
	position: relative;
}
footer .menu li::before{
	content: "";
	width: 3px;
	height: 3px;
	background-color: #555;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -1px;
	margin: auto;
}
footer .menu li:last-child::before{
	display: none;
}
footer .menu li a{
	color: #ccc;
	font-size: 12px;
	font-weight: 700;
	padding: 15px;
	display: block;

}
footer .menu li a.green{
	color: #669900;
}
footer .btn-group{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
footer .btn-group .btn{
	font-size: 12px;
	margin-right: 10px;
}
footer .btn-group .btn:last-child{
	margin-right: 0;
}
footer .info{
	margin-top: 30px;
	text-align: center;
}
footer .info span{
	margin-right: 20px;
	color: #999;
	font-size: 12px;
}
footer .info span:last-child{
	margin-right: 0;
}
footer .copyright{
	color: #999;
	font-size: 12px;
	text-align: center;
	margin-top: 12px;
}
footer .logo{
	margin: 30px auto 0;
}

